 
    *{
     font-family: Montserrat !important;
    font-style: normal !important;   
    }


    .btn-primary {
        background-color:#1B40E6 !important;
    }

    label .control-label{
    font-size: 20px !important;
    line-height: 20px !important;
    }
 
        #footer {
            position: fixed;
           
            bottom: 0;
           
            height: 40px;
                   }
#input{
    background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

	#hdtext {
		color: 	#FFFFFF;
	}