{% extends 'layout.html' %}
{% block title %}Startup{% endblock %}
{% block content %}
<div class="cont">
    
     <div class="StartupPage1" align="center">
         <h3 style="text-align: center; color: blue ">View Existing Applications</h3>
         <div class="search">
          <input type="text" class="searchTerm" placeholder="Search for intern">
          <button id="AdvancedSearchBtn" type="submit" onclick="show()">
            <img src="/static/images/AD search.png">
         </button>
         <button id="btn"  >search</button>
       </div>
         <div style="padding-left:10px">
          <h4 align="left">Existing Aplications</h4>    
       </div>
       <div class="InternCard">
           <div class="box" >
               <h4>Yong Tonghyon</h4><div id="circle" style="background:#8CBC88;"></div> 
               <h5>yong.tonghyon@gmail.com</h5>
               <h5>B.E Computer</h5>
               <lable>4th SEM</lable>
               
               <h5 style="color: blue">COEP Pune</h5>
               
           </div>
           <div class="box">
               <h4>Yong Tonghyon</h4><div id="circle" style="background:#8CBC88;"></div>
               <h5>yong.tonghyon@gmail.com</h5>
               <h5>B.E Computer</h5>
               <lable>4th SEM</lable>
               <h5 style="color: blue">COEP Pune</h5>
           </div>
           <div class="box" >
               <h4>Yong Tonghyon</h4><div id="circle" style="background:#8CBC88;"></div>
               <h5>yong.tonghyon@gmail.com</h5>
               <h5>B.E Computer</h5>
               <lable>4th SEM</lable>
               <h5 style="color: blue">COEP Pune</h5>
           </div>
           <div class="box" >
               <h4>Yong Tonghyon</h4><div id="circle" style="background:#FF7272;;"></div>
               <h5>yong.tonghyon@gmail.com</h5>
               <h5>B.E Computer</h5>
               <lable>4th SEM</lable>
               <h5 style="color: blue">COEP Pune</h5>
           </div>
           <div class="box" >
               <h4>Yong Tonghyon</h4><div id="circle" style="background:#FF7272;;"></div>
               <h5>yong.tonghyon@gmail.com</h5>
               <h5>B.E Computer</h5>
               <lable>4th SEM</lable>
               <h5 style="color: blue">COEP Pune</h5>
           </div>
           <div class="box" >
               <h4>Yong Tonghyon</h4><div id="circle" style="background:#FF7272;;"></div>
               <h5>yong.tonghyon@gmail.com</h5>
               <h5>B.E Computer</h5>
               <lable>4th SEM</lable>
               <h5 style="color: blue">COEP Pune</h5>
           </div>
           
        </div>
    </div>
</div>

{% endblock %}