{% extends 'layout.html' %}
{% block title %}Startup{% endblock %}
{% block content %}
<div class="cont">
    

 <div class="StartupPage" align="center">
       
	<h3 style="text-align: center; color: blue ">Hire a New Team Member</h3>
    <div class="config2"  >
       <div>
         <img src="/static/images/file.png">
          <a href="/existingapplication"><p style="font-size: 20px;">View Existing Applictions</p></a>
       </div>
       <div>
         <img src="/static/images/search.png">
           <a href="/search"><p style="font-size: 20px;">Search For Interns</p></a>
       </div>
        
    </div>

 </div>
</div>
{% endblock %}
