<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>cand-application</title>
	<link rel="stylesheet" type="text/css" href="static/intern-application.css">
</head>
<body>
	<div class="button">&larr;<a href="#" onclick="javascript:window.history.back(-1);return false;">Back</a></div> 
		<div class="clearfix">
		  <div class="box" style="background-color: #C0C0C0">
		  	<h3 style="float: right; margin-right: 10px; color:#0080ff;"><u>Shortlist</u></h3><h1>JOHN DEO</h1>
		  	<span style='font-size:30px;'>&#128231; johndeo@example.com </span><br>
		  	<span style='font-size:30px;'>&#128222; 9874563XXX</span>
		  </div>
		  <div class="box" style="background-color: #C0C0C0">
		  	<div class="col1">
		  		<div><strong>Current Course</div><br>
		  		<div>Stream</div><br>
		  		<div>College</div><br>
		  		<div>Semester</div><br>
		  		<div>Skills</div><br></strong>
		  	</div>
		  	<div class="col2">
		  		<div>BE</div><br>
		  		<div>Computer Science & Engineering</div><br>
		  		<div>MGM's Jawharlal Nehru Engineering College</div><br>
		  		<div>3rd</div><br>
		  		<div>UI/UX Designing, Logo Designong, Photoshop, Illustration.</div><br>
		  	</div>
		  </div>
		  <div class="box" style="background-color: #C0C0C0">
		  	<div class="col1">
		  		<div><strong>Resume</strong></div>
		  	</div>
		  	<div class="col2" style="text-align: justify;">
		  		<div>Example.pdf &nbsp;
		  		<a href="url" target="self">View</a>&nbsp;
		  		<a href="url" download>Download</a>
		  		</div>
		  	</div>
		</div>
	  <button class="button1">Done</button>
	  <button class="button2">Cancel</button>
</body>
</html>
