{% extends 'layout.html' %}
{% block title %}Startup{% endblock %}
{% block content %}

	<h3 style="text-align: center; color: blue ">My Virtual Startups</h3>
    <div class="container2" style="font-size: 18px;" >
        {% for st in startup %}
             
              <p style="font-size: 12px;">startup {{loop.index}}</p>
              <a href="/startuppage"><p style="color: blue">{{st}}</p></a>
         
         {%endfor%}
      
    </div>
    <div id="footer" >
    <h4 align="center"><a style="color: blue"  href="/create">Apply to a Virtual Startup</a></h4>    
   </div>

{% endblock %}
