{% extends 'layout.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    
<div class="cont">

        <div class="StartupPage1" align="center">
            <p>Startup 1 </p>
            <p id="title">{{title}} Startup</p>
            <p id="subtitle">Tell us which area would you like to look into? </p>
            <div class="config">
                <div class="flex-item">
                    <label class="radio-inline">
                      <input type="radio" name="optradio" >Manage Project
                    </label>
                 </div>   
                <div class="flex-item">
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Manage Email
                    </label>
                </div>
                <div class="flex-item">
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Talk to Team 
                    </label>
                </div>
            </div>
            <div class="config">
                <div class="flex-item">
                    <a href="/hire">
                    <label class="radio-inline">
                      <a href="/hire"><input type="radio" name="optradio" >Hire a New Team Member</a>
                    </label>
                    </a>
                </div>
                <div class="flex-item">
                    <label class="radio-inline">
                      <input type="radio" name="optradio">HR and Administration
                    </label>
                </div>
                <div class="flex-item">
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Setup 
                    </label>
                </div>
            </div>
        </div>
</div>
{% endblock %}